.icon-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height:100px;
  cursor: pointer;
}

.icon-image{
  display: flex;
  justify-content: center;
  width: 100%;
}

.icon-element:hover {
  background: rgba(0, 128, 255, 0.3);
  border-radius: 10px;
}

.folder-icon {
  width: 100px;
}


@media(max-width: 350px){
  .icon-element {
    min-width: 40px;
    width: 100%;
  }
}