.icons {
  display: flex;
  gap: 40px;
}

.folder {
  width: 100%;
}

.folder-content {
  display: flex;
  padding: 20px;
}

.contenido {
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 10px;
}
.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.image-container img {
  width: 200px;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  height: 100%;
  gap: 16px;
}

@media (max-width: 1105px) {
  .folder {
    flex-direction: column;
  }

  .icons {
    justify-content: center;
    width: 100%;
  }
  .contenido {
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: none;
  }

  .info-container {
    flex-direction: row;
  }
}

@media (max-width: 800px) {
  .icons {
    width: 100%;
  }

  .folder-content {
    flex-direction: column;
  }

  .icons {
    justify-content: center;
    width: 100%;
  }
  .contenido {
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: none;
  }

  .info-container {
    flex-direction: row;
  }
}

@media (max-width: 330px){
  .contenido{
    overflow: scroll;
  }
  .info-container {
    flex-direction: column;
    max-height: 200px; overflow-y: scroll;
  }
}