/*CONTENT*/
.contenedor {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
}

.content-title {
  font-family: var(--font-game-press);
  font-size: 40px;
  margin: 10px;
}

.educacion-title,
.resumen-title,
.competencias-title,
.experiencia-title {
  font-size: 25px;
  font-family: var(--font-game-press);
}

::-webkit-scrollbar {
  display: none;
  width: 12px;
}
.competencias-contenedor {
  display: flex;
  justify-content: center;
}

.competencias-contenedor ul li {
  list-style: circle;
}

.competencias-lista {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}

.experiancia-lista {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.experiancia-lista li {
  text-align: justify;
}


@media (max-width: 1000px) {

  .competencias-lista {
    grid-template-columns: repeat(2, 1fr);
    width: 400px;
    align-items: center;
  }
}

@media (max-width: 450px) {
  .content-title,
  .educacion-title,
  .resumen-title,
  .competencias-title,
  .experiencia-title {
    font-size: 20px;
    font-weight: normal;
  }
  .competencias-lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
  }
}
