.container-html {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/background3.jpg");
  background-size: cover;
  background-position: center;
}

.container-css {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  height: 100vh;
}
